@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
  background: white;
}

.header{
  display: flex;
  justify-content: center;
}

.header h1 {
  font-size: 80px;
  font-weight: 400;
  font-family: 'Rubik Dirt', cursive;
}

.containerStyles {
  width: 60vw;
  height: 350px;
  margin: 0 auto;
}

@media (max-width: 500px){
  .containerStyles{
    height: 270px;
  }
}